{% extends "base.html" %}

{% block content %} 
    <h1> Add Quantity For {{item.name}} and city_id {{city_id}}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity() }}
            {% for error in form.quantity.errors %} 
            <span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}