{% extends "base.html" %}

{% block content %}
	<h2>{{item.item_id}}		{{item.name}}</h2><br>
	<h3>{{item.category}}</h3><br>
	<h3>{{item.brand}}</h3><br>
	<h3>RS. {{item.price}}</h3><br>
	<h3>{{item.quantity}}</h3><br>
	<h3>{{item.totalsold}}</h3><br>
	<h5><p>{{item.description}}</p></h5><BR><BR><BR>
	<h4> ITEM QUANTITY IN CORRESPONDING CITIES </h4>
	<table>
		<tr>
			<th> City - City ID </th>
			<th> Quantity </th>
		</tr>
		{% for city in itemcity %}
		<tr>
			<th>{{city.city_name}} - {{ city.city_id }}</a>></th>
			<th>{{ city.quantity }}</a></th>
		</tr>
		{% endfor %}
	</table>
{% endblock %}