{% extends "base.html" %}

{% block content %} 
    {% if cart %} 
        {% for x in cart %} 
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3><a href="{{ url_for('view_item', item_id=x.item_id) }}">{{ x.item_name }}</a></h3>
                    </div>
                    <p class="font-weight-bold">{{ x.brand }}</p>
                    <p class="small text-left">"Quantity:{{ x.quantity }}</p>
                </div>
            </div>
        {% endfor %} 
        <a href="/checkout" class="btn btn-primary"> Proceed to Checkout</a>
    {% else %} 
        <h1>Your cart is empty</h1>
    {% endif %} 
{% endblock content %}