{% extends "base.html" %}

{% block content %} 
    <br>
    <h3> User Profile - {{ user.username }} </h3>
    <br><br>
<table class="table table-borderless table-hover table-striped table-responsive "> 
    <tr> <td>Username :     </td>  <td> <span style="color:green;">{{ user.username }}  </span> </td> </tr>    
    <tr> <td>Email :        </td>  <td> <span style="color:green;">{{ user.email }}     </span> </td> </tr>
    {% if user.city_id %}
    <tr> <td>City :         </td>  <td> <span style="color:green;">{{ user.city_id }}   </span> </td> </tr>
    {% endif %}
    {% if user.address %}
    <tr> <td>Address :      </td>  <td> <span style="color:green;">{{ user.address }}   </span> </td> </tr>
    {% endif %}
    {% if user.phone_no %}
    <tr> <td>Phone Number : </td>  <td> <span style="color:green;">{{ user.phone_no }}  </span> </td> </tr>
    {% endif %}
    {% if user.brand %}
    <tr> <td>Brand :        </td>  <td> <span style="color:green;">{{ user.brand }}     </span> </td> </tr>
    {% endif %}
</table>

{% endblock content %}