{% extends "base.html" %}

{% block content %} 
    <br>
    <p><h4> Orders Details </h4></p>

            <table class="table table-responsive">
            <tr>
                <td> Order_id </td> <td> <span style="color:brown;">{{ order.order_id }}</span></td>
            </tr>
            <tr>
                <td> Consumer </td> <td> <span style="color:brown;">{{ order.consumer_name }}</span></td>
                <td> Amount </td>   <td> <span style="color:brown;">{{ order.amount }}</span></td>
            </tr>
            <tr>
                <td> Ordered on </td> <td> <span style="color:brown;">{{ order.time_of_order }}</span></td>
                <td> Order status   </td> <td> <span style="color:green;">{{ order.status }}</span></td>
            </tr>
            <tr>
                <td> Delivered on </td> <td> <span style="color:brown;">{{ order.time_of_delivery }}</span></td>
                <td> Delivered by </td> <td> <span style="color:brown;">{{ order.agent_name }}</span></td>
            </tr>
            <tr class = "table-active">  <th colspan="4" style="text-align:center"> ITEMS </th> </tr>
            <tr> 
                <th>Name</th><th>Quantity</th><th>Brand</th><th>Price</th>
            </tr>
                {% for item in order.contains %}
                <tr>
                    <td> <span style="color:#b22222;">{{ item.name }}       </span> </td>
                    <td> <span style="color:#b22222;">{{ item.quantity }}   </span> </td>
                    <td> <span style="color:#b22222;">{{ item.brand }}  </span> </td>
                    <td> <span style="color:#b22222;">{{ item.price }}      </span> </td>
                </tr>
                {% endfor %}
            </table>
{% endblock content %}