{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h3>{{ item.name }}</a>
        </div>
        <p class="font-weight-bold">{{ item.brand }}</p>
        <p class="text-break">Description: {{ item.description }}</p>
    </div>
</div>
    {% if count==0 %} 
        <a href="{{ url_for('cart_add',item_id=item.item_id,count=count)}}" class='btn btn-info'> Add to Cart</a>
    {% else %} 
    <div class="row">
        <a href="{{ url_for('cart_remove',item_id=item.item_id,count=count)}}" class='btn btn-danger btn-sm'> - </a>
        <h4>   {{ count }}   </h4>
        <a href="{{ url_for('cart_add',item_id=item.item_id,count=count)}}" class='btn btn-primary btn-sm'> + </a>
    </div>
    {% endif %} 
{% endblock content %}